<!-- wp:template-part { "slug": "header", "tagName": "header", "className": "site-header", "align": "center" } /-->

<!-- wp:group { "tagName": "main", "layout": { "type": "constrained" }, "className": "main-content" } -->
    <main class="wp-block-group main-content is-layout-constrained">
        <!-- wp:paragraph -->
            <p>What you are looking for is not here. It might have been moved or deleted. Please go back to the home page to find what you need.</p>
        <!-- /wp:paragraph -->
    </main>
<!-- /wp:group -->

<!-- wp:spacer { "height": "calc(var(--wp--custom--grid--base) * 8)" } -->
    <div style="height:calc(var(--wp--custom--grid--base) * 8)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part { "slug": "footer", "tagName": "footer", "className": "site-footer", "align": "center" } /-->