<!-- wp:template-part { "slug": "header", "tagName": "header", "className": "site-header", "align": "center" } /-->

<!-- wp:group { "tagName": "main", "layout": { "type": "constrained" }, "className": "main-content" } -->
    <main class="wp-block-group main-content is-layout-constrained">
        <!-- wp:group { "align": "wide" } -->
            <div class="wp-block-group alignwide">
                <!-- wp:group { "layout": { "type": "constrained" }, "className": "post-header"} -->
                    <div class="wp-block-group is-layout-constrained post-header">
                        <!-- wp:heading { "level": 1, "align": "wide" } -->
                            <h1 class="wp-block-heading alignwide">Page title.</h1>
                        <!-- /wp:heading -->
                    </div>
                <!-- /wp:group -->
            </div>
        <!-- /wp:group -->
        <!-- wp:query { "align": "full", "layout": { "type": "constrained" } } -->
            <div class="wp-block-query alignfull">
                <!-- wp:post-template -->
                    <!-- wp:group { "align": "full", "layout": { "type": "constrained" }, "tagName": "article", "className": "post"} -->
                        <article class="wp-block-group alignfull post">
                            <!-- wp:group { "align": "full", "layout": { "type": "constrained" } } -->
                                <div class="wp-block-group alignfull">
                                    <!-- wp:group { "align": "wide", "layout": { "type": "constrained" } } -->
                                        <div class="wp-block-group alignwide">
                                            <!-- wp:group { "className": "post-meta" } -->
                                                <div class="wp-block-group post-meta">
                                                    <!-- wp:post-date { "format":"j F" } /-->
                                                    <!-- wp:post-terms { "term": "category", "separator": ", " } /-->
                                                </div>
                                            <!-- /wp:group -->
                                            <!-- wp:post-title { "level": 2, "align": "wide", "isLink": true, "layout": { "inherit": true }, "className": "post-title" } /-->
                                            <!-- wp:post-excerpt /-->
                                            <!-- wp:group { "layout": { "type": "flex" }, "className": "post-content-buttons" } -->
                                                <div class="wp-block-group is-layout-flex post-content-buttons">
                                                    <!-- wp:read-more { "content": "Read post" } /-->
                                                </div>
                                            <!-- /wp:group -->
                                        </div>
                                    <!-- /wp:group -->
                                </div>
                            <!-- /wp:group -->
                        </article>
                    <!-- /wp:group -->
                <!-- /wp:post-template -->
                <!-- wp:query-no-results -->
                    <!-- wp:paragraph -->
                        <p><?php esc_html_e( 'No posts available.', 'newdevelopments' ); ?></p>
                    <!-- /wp:paragraph -->
                <!-- /wp:query-no-results -->
            </div>
            <!-- wp:query-pagination { "layout": { "type": "constrained" } } -->
                <!-- wp:query-pagination-previous /-->
                <!-- wp:query-pagination-next /-->
            <!-- /wp:query-pagination -->
        <!-- /wp:query -->
    </main>
<!-- /wp:group -->

<!-- wp:template-part { "slug": "footer", "tagName": "footer", "align": "center" } /-->