<!-- wp:template-part { "slug": "header", "tagName": "header", "className": "site-header", "align": "center" } /-->

<!-- wp:group { "tagName": "main", "layout": { "type": "constrained" }, "className": "main-content" } -->
    <main class="wp-block-group main-content is-layout-constrained">
        <!-- wp:group { "align": "wide" } -->
            <div class="wp-block-group alignwide">
                <!-- wp:group { "layout": { "type": "constrained" }, "className": "post-header"} -->
                    <div class="wp-block-group is-layout-constrained post-header">
                        <!-- wp:heading { "level": 1, "align": "wide" } -->
                            <h1 class="wp-block-heading alignwide">Page title.</h1>
                        <!-- /wp:heading -->
                    </div>
                <!-- /wp:group -->
            </div>
        <!-- /wp:group -->
        <!-- wp:query { "align": "full", "layout": { "inherit": true } } -->
            <div class="wp-block-query alignfull">
                <!-- wp:post-template { "html":false } -->
                    <!-- wp:group { "align": "full", "layout": { "inherit": true }, "className": "post-header" } -->
                        <div class="wp-block-group alignfull post-header">
                            <!-- wp:group { "align": "wide", "layout": { "inherit": true } } -->
                                <div class="wp-block-group alignwide">
                                    <!-- wp:post-date { "format": "j F" } /-->
                                    <!-- wp:post-title { "level": 2, "align": "wide", "isLink": true, "layout": { "inherit": true } } /-->
                                </div>
                            <!-- /wp:group -->
                        </div>
                    <!-- /wp:group -->
                <!-- /wp:post-template -->
            </div>
        <!-- /wp:query -->
    </main>
<!-- /wp:group -->

<!-- wp:spacer { "height": "calc(var(--wp--custom--grid--base) * 8)" } -->
    <div style="height:calc(var(--wp--custom--grid--base) * 8)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part { "slug": "footer", "tagName": "footer", "className": "site-footer", "align": "center" } /-->