<!-- wp:template-part {"slug": "header", "tagName": "header", "className": "site-header", "align": "center"} /-->

<!-- wp:group {"tagName": "main", "layout": { "type": "constrained" }, "className": "main-content"} -->
    <main class="wp-block-group main-content is-layout-constrained">
        <!-- wp:group { "align": "wide" } -->
            <div class="wp-block-group alignwide">
                <!-- wp:group { "layout": { "type": "constrained" }, "className": "post-header"} -->
                    <div class="wp-block-group is-layout-constrained post-header">
                        <!-- wp:heading { "level": 1, "align": "wide" } -->
                            <h1 class="wp-block-heading alignwide">Page title.</h1>
                        <!-- /wp:heading -->
                    </div>
                <!-- /wp:group -->
            </div>
        <!-- /wp:group -->
        <!-- wp:post-content { "layout": { "type": "constrained" } } /-->
    </main>
<!-- /wp:group -->

<!-- wp:template-part { "slug": "footer", "tagName": "footer", "align": "center" } /-->