<!-- wp:template-part { "slug": "header", "tagName": "header", "className": "site-header", "align": "center" } /-->

<!-- wp:group { "tagName": "main", "layout": { "type": "constrained" }, "className": "main-content" } -->
    <main class="wp-block-group main-content">
        <!-- wp:post-content { "layout": { "type": "constrained" } } /-->
    </main>
<!-- /wp:group -->

<!-- wp:spacer { "height": "calc(var(--wp--custom--grid--base) * 8)" } -->
    <div style="height:calc(var(--wp--custom--grid--base) * 8)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part { "slug": "footer", "tagName": "footer", "className": "site-footer", "align": "center" } /-->