<!-- wp:template-part { "slug": "header", "tagName": "header", "className": "site-header", "align": "center" } /-->

<!-- wp:group { "tagName": "main", "layout": { "type": "constrained" }, "className": "main-content" } -->
    <main class="wp-block-group main-content is-layout-constrained">
        <!-- wp:group { "align": "wide" } -->
            <div class="wp-block-group alignwide">
                <!-- wp:group { "layout": { "type": "constrained" }, "className": "post-header"} -->
                    <div class="wp-block-group is-layout-constrained post-header">
                        <!-- wp:group { "layout": { "type": "flex" }, "align": "wide", "className": "post-meta" } -->
                            <div class="wp-block-group is-layout-flex alignwide post-meta">
                                <!-- wp:post-date { "format": "j F" } /-->
                                <!-- wp:post-terms { "term": "category", "separator": ", " } /-->
                            </div>
                        <!-- /wp:group -->
                        <!-- wp:post-title { "level": 1, "align": "wide", "isLink": true, "layout": { "inherit": true } } /-->
                    </div>
                <!-- /wp:group -->
            </div>
        <!-- /wp:group -->
        <!-- wp:post-content { "layout": { "type": "constrained" }, "align": "wide" } /-->
    </main>
<!-- /wp:group -->

<!-- wp:template-part { "slug": "footer", "tagName": "footer", "align": "center" } /-->